/**
 * Your CSS goes here.
 */

body,
html {
    height: 100%;
}

.bg {
    background-image: url("wallpaperflare.com_wallpaper (3).jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.madLibsEdit {
    height: 90vh;
    margin: 2rem;
    display: grid;
    align-content: space-around;
}

.cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}

.cell-1 {
    background: white;
    opacity: 0.3;
}

.cell-2 {
    background: white;
    opacity: 0.3;
}